body {
    min-height: 100vh;
    background-color:seagreen;
    padding: 0 80px;
}
h1{
    color:chartreuse;
}
h2{
    color: midnightblue;
}
p{
    color: burlywood;
}
p span{
    font-size: 20px;
    color:yellow;
}
div p{
    font-size: 20px;
    color:red;
    font-style: italic;
}
div h3{
    font-size: 30px;
    font-weight: 900;
    color: rgb(165, 9, 255);
}
div p.lorem{
    color: rgb(17, 0, 255);
    font-style: oblique;
}